@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Geist;
  src: url("/GeistVariableVF.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GeistMedium;
  src: url("/Geist-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@layer base {
  :root {
    --link: 212 100% 67%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  html {
    color-scheme: dark;
  }

  body {
    font-family: Geist;
    color: #d4d4d4;
    line-height: 16px;
  }

  main {
    max-width: 42rem;
    font-size: 20px;
    line-height: 1.6;
  }
}

@layer components {
  .bg-grid {
    background-size: 100px 100px;
    z-index: -2;
    background-image: url("/bg-grid.png");
    background-position-y: -9px;
    opacity: 40%;
    -webkit-mask-image: linear-gradient(
      to bottom,
      black,
      10%,
      white,
      90%,
      transparent
    );
    mask-image: linear-gradient(
      to bottom,
      transparent,
      25%,
      white,
      90%,
      transparent
    );
  }

  .bg-grid::before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0%;
    bottom: 0%;
    width: 150%;
    left: 0%;
    background: linear-gradient(247.23deg, #4af2c8 0%, #2f4cb3 100%);
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.8), transparent 70%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.8), transparent 70%);
  }

  .box {
    background-color: #0d111710;
    border-color: #30363d;
    border-radius: 0.375rem;
    border-style: solid;
    border-width: max(1px, 0.0625rem);
    font-size: 14px;
    color: #848d97;
  }

  .repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }
}
