<p class="hyphens-manual text-base leading-7">
  Frontend developer, realist, and loves to create unfinished project.
  <span class="text-transparent"
    >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, nulla
    molestiae provident</span
  >
</p>
