---
const links = [
  { name: "@yogyyconst", url: "https://x.com/yogyyconst" },
  { name: "email", url: "mailto:m.yogi.fs@gmail.com" },
  { name: "linkedin", url: "https://www.linkedin.com/in/yogyy" },
  { name: "github", url: "https://github.com/yogyy" },
];
---

<footer class="mt-12 items-end text-center">
  <div class="tracking-tight">
    <ul class="flex flex-wrap gap-3">
      {
        links.map((link) => (
          <li class="text-gray-600 transition-colors focus-within:text-white hover:text-link">
            <a
              href={link.url}
              target="_blank"
              class="clear-start px-0.5 py-0.5 focus-visible:underline">
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
