---
import { Image } from 'astro:assets';
import { images } from './items';
import { cn } from '@/lib/utils';
---

<div class="columns-2 sm:columns-3 gap-4">
  {
    images.map((image, i) => (
      <div
        class={cn(
          'relative h-40 rounded-lg',
          `group bg-white/50 hover:bg-white/80`,
          'transition-colors duration-200',
          (i == 1 || i == 5) && 'h-80',
          i == 2 && 'h-40 sm:h-80',
          i != 2 && i != 5 && 'mb-4 sm:mb-0',
          (i == 0 || i == 2 || i == 4) && 'sm:mb-4'
        )}
      >
        <Image
          src={image}
          width={330}
          height={185}
          alt="JJK Girls"
          draggable="false"
          class={cn(
            'absolute object-center h-full object-cover rounded-lg',
            'transition-colors duration-200 jjk-images mix-blend-multiply',
            i == 0 && 'object-left'
          )}
          fetchpriority="high"
        />
      </div>
    ))
  }
</div>

<!-- why you see this?, i have no idea 
  <div class={cn(
    'absolute w-full h-full overlay backdrop-brightness-50',
    'hover:backdrop-filter-none active:backdrop-filter-none',
    'transition duration-200'
  )} /> 
-->
