<p class="text-base leading-7">
  I'm a frontend developer, an
  <span class="italic hover:cursor-help" title="no, i'm actually realistic">
    optimist</span
  >
  , and a self-learner. Currently, I'm immersed in frontend development with
  <a
    href="https://react.min.dev"
    target="_blank"
    class="label inline-flex gap-1">
    <img width="14" height="14" src="/react.min.svg" alt="react icon" />
    React
  </a>, I specialize in creating visually appealing, user-friendly websites, and
  responsive web applications. When it comes to handling server-side data, I use
  the amazing framework
  <a href="https://nextjs.org" target="_blank" class="label inline-flex gap-1">
    <img width="14" height="14" src="/next.min.svg" alt="next.js icon" />Next.js
  </a>.
</p>
