<h1 class="transition-element pt-12 font-medium">
  <span class="sr-only">Yogi FS</span>
  <span
    aria-hidden="true"
    class="group relative block overflow-hidden">
    <span
      class="inline-block transition-all duration-300 ease-in-out group-hover:-translate-y-full">
      {
        "Yogi FS".split("").map((letter, index) => (
          <span
            class="inline-block"
            style={{ transitionDelay: `${index * 25}ms` }}>
            {letter === " " ? "\u00A0" : letter}
          </span>
        ))
      }
    </span>
    <span
      class="absolute left-0 top-0 inline-block translate-y-full transition-all duration-300 ease-in-out group-hover:translate-y-0">
      {
        "yogyy".split("").map((letter, index) => (
          <span
            class="inline-block"
            style={{ transitionDelay: `${index * 25}ms` }}>
            {letter}
          </span>
        ))
      }
    </span>
  </span>
</h1>
