---
import { cn } from "@/lib/utils";

const navlink = [
  { name: "home", link: "/home" },
  { name: "work", link: "/work" },
];
const url = Astro.url.pathname;
---

<nav class="w-fit text-sm font-medium">
  <ul class="flex flex-row gap-3">
    {
      navlink.map(({ link, name }) => {
        const active = (url === "/" && link === "/home") || url === link;
        return (
          <li class="relative">
            <a
              class={active ? "text-link" : ""}
              href={link === "/home" ? "/" : link}>
              {name}
              <div
                class={cn(
                  "absolute inset-0 top-5 h-[1px] w-full bg-gradient-to-r from-transparent",
                  active ? "to-link" : "to-transparent",
                )}
              />
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
