---
import { cn } from "@/lib/utils";

const url = Astro.url.pathname;
const navlink = [
  { name: "home", link: "/", active: url === "/" },
  { name: "work", link: "/work", active: url.includes("work") },
];
---

<nav class="w-fit text-sm font-medium">
  <ul class="flex flex-row gap-3">
    {
      navlink.map(({ link, name, active }) => {
        return (
          <li class="relative">
            <a class={active ? "text-link" : ""} href={link}>
              {name}
              <div
                class={cn(
                  "absolute inset-0 top-5 h-[1px] w-full bg-gradient-to-r from-transparent",
                  active ? "to-link" : "to-transparent",
                )}
              />
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
