---
import { Image } from "astro:assets";
---

<div class="space-y-4 text-base">
  <div>
    <p>Frontend Tech Stack</p>
    <Image
      src="https://skillicons.dev/icons?i=ts,react,nextjs,astro,svelte,tailwind"
      alt="frontend tech stack"
      draggable="false"
      width={330}
      height={50}
    />
  </div>
  <div>
    <p>Backend Tech Stack</p>
    <Image
      src="https://skillicons.dev/icons?i=ts,nodejs,express,mysql,postgres,prisma"
      alt="backend tech stack"
      draggable="false"
      width={330}
      height={50}
    />
  </div>
</div>
