---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="bg-gradient-to-br from-black via-zinc-950 to-zinc-800 min-h-screen"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.min.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex-auto max-w-2xl mx-4 md:mx-auto">
    <slot />
  </body>
</html>
