---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="bg-gradient-to-br from-black via-zinc-950 to-zinc-800 min-h-screen"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.min.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href="https://yogyy.github.io/" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="yogyy - Web Developer pemula" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/og-image.svg" />
    <meta property="og:url" content="https://yogyy.github.io/" />
    <meta
      property="og:description"
      content="a nobody who dive in web development"
    />
    <meta property="og:locale" content="id_ID" />
    <meta property="og:site_name" content="yogyy" />
    <meta property="og:image:url" content="/og-image.svg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <meta property="og:image:alt" content="yogyy" />
    <meta name="twitter:site" content="@yogyxx" />
    <meta name="twitter:creator" content="@yogyxx" />
  </head>
  <body class="flex-auto max-w-2xl mx-4 md:mx-auto">
    <slot />
  </body>
</html>
